header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px black;
  width: 100%;
  height: 80px;
}
.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;

}

nav {
      display: block;
      float: right;
      padding-right: 40px;
}
nav span {
    display: inline-block;
    padding: 20px 10px;}

.logo span {
  color: MediumAquamarine;
  padding: 6px;}

a {
    color: black;
}
